<div style="height:auto; width:500px;font-family:'Times New Roman', Times, serif ;margin: auto;">
    <h1  style="margin-bottom: 8px;text-align: center;">Wavesinall</h1>
    <h3 class ="text-center" style="font-size: 16px;margin-bottom: 16px;text-align: center;"
    >Email Verification</h3>
    <p style="margin-bottom: 16px;font-size: 15px; font-weight: 400;">Welcome! Thanks for signing up. Please press  
        this button to activate your account</p>
    <div style="text-align: center;">
        <button style="background:rgb(11, 126, 11);color:white;margin-bottom: 16px;
        padding:.4rem;border-radius: 8px;">
            <a href="{{confirm_url}}"style="text-decoration: none; color: inherit; ">Verify Email</a>
        </button>
    </div>
    <p style="margin-bottom: 8px; font-size: 14px; font-weight: 400;">This link expires 24 
        hours from the time it was sent. 
        This link will redirect you to the sign-in website page, 
        where you will login with your verified account.
    </p>
    <p style="margin-bottom: 16px;font-size: 14px; font-weight: 400;"> <strong>This email message has been 
        delivered from a send-only address. 
        Please do not reply to this message.</strong>  
    </p>
    <p style="margin-bottom: 16px;font-size: 14px; font-weight: 400;">Enjoy!</p>
</div>








