{% extends 'base.html' %}

{% block title%}
Create Content Page
{% endblock %} 

{% block content %}

<body class="text-center">
    
    
    <div class="container text-center mb-5">
        <form method="POST" autocomplete="off"class="form-register" enctype="multipart/form-data" style="color:rgb(8, 8, 8)">
            {{ form.hidden_tag() }}
            {% include 'modals/create.html' %}
            <br>
            <img src="{{url_for('static', filename = 'logo.svg')}}" width="100" height="100" alt="">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                LET'S CREATE
            </h1>
            <br>
            <div class="createcontent">
                <div class="form-floating mb-3">
                    {{ form.title(class="form-control",placeholder='Title of your article') }}
                    <label for="floatingInput">Article Title</label>
                </div>
                {{ form.genre.label() }}
                {{ form.genre(class="form-select form-select-lg mb-4",style="font-size:16px;", placeholder="Select genre of your article") }}
                {{ form.image.label() }}
                {{ form.image(class="form-control mb-4") }}
                {{ form.introduction.label() }}
                {{ form.introduction(class="form-control mb-3",style="height:100px;", placeholder='Captivating introduction of your article') }}
            </div>
            <br>
            <div class="text-center text-muted">Click the <strong class="text-danger">+</strong> icon to start creating your article</div>
            <div class=" container-fluid mb-5" id="editorjs" ></div>

            <script src="../static/index.js"></script>
            
            <div  onclick="myFunction()" class=" ">
                <button type="button" class="btn btn-success" style=" width: 250px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Submit
                </button>
            </div>

            <br>

            {{ form.content(class="form-control", placeholder="genre") }}
            <br>
          
        </form>
    </div>
    
</body>

{% endblock %}

  