{% extends 'base.html' %}

{% block title %}

    Password Reset Page

{% endblock %}

{% block content %}
<div class="d-flex align-items-center" style="height: 80dvh;">
        <form method="POST" autocomplete="off"class="d-flex align-items-center flex-column text-center forgotpass mx-auto ">
            {{ form.hidden_tag() }}
            <div class="  p-2 mb-3 rounded-top-4 justify-content-center " >
                <img src= "{{url_for('static', filename = 'logo.svg')}}"width="80" height="80" alt="" class=" ">
            </div>
            <h1 class ="h3 mb-3 p-2 font-weight-normal">
                Reset Your Password
            </h1>
            <p class="text-start mb-5 mx-2">A link to reset your password will be sent to the email address associated with your sign-in ID.</p>
        
          
            <div class="form-floating w-100 mb-auto text-muted">
                {{ form.email_address(class="form-control ",placeholder="name@example.com") }}
                <label for="floatingInput">Email address</label>
            </div>
                {{ form.submit(class="btn btn-lg btn-dark  mb-2 btn-primary",style="width: 80%;") }}
        </form>
</div>
{% endblock %}