{% extends 'base.html' %}

{% block title %}

    Password Reset Page

{% endblock %}

{% block content %}
<div class="d-flex align-items-center" style="height: 80dvh;">
    <div class="d-flex align-items-center flex-column text-center forgotpass mx-auto ">
        <div class="  p-2 mb-3 rounded-top-4 justify-content-center " >
            <img src= "{{url_for('static', filename = 'logo.svg')}}"width="80" height="80" alt="" class=" ">
        </div>
       
        <h1 class ="h3 mb-3 p-2 font-weight-normal">
            Reset Your Password
        </h1>
        <p class="text-start mb-5 mx-2">A link to reset your password will be sent to the email address associated with your sign-in ID.</p>
        <div class="form-floating w-100 mb-auto text-muted">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <a href="{{url_for('viewerregister_page')}}" class="btn  btn-lg btn-dark mb-2" style="width: 80%;">Send Email</a>
    </div>
</div>
{% endblock %}
<h1 class ="h3 mb-3 font-weight-normal">
    Please Login
</h1>