{% extends 'base.html' %} 

{% block title %}
Wavesinall: lets debate.
{% endblock%}

{% block content %}
<div class="container-md ">
  <div class="d-none d-lg-block">
    <ul class="nav justify-content-between ">
      <li class="nav-item">
        <a class="nav-link"  href="{{url_for('genre_page',genre = 'News')}}">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre ='Technology')}}">Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Travelling')}}">Travelling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Celebrities')}}">Celebrities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Beauty and Lifestyle')}}">Beauty and Lifestyle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Mental Health')}}">Mental Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Food and Beverage')}}">Food and Beverage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('genre_page',genre = 'Flowers')}}">Flowers</a>
      </li>
    </ul>
    <br>
  </div>
  <div class="d-flex d-md-none">
    <div class="dropdown ms-auto mt-1">
      <button class="btn btn-sm btn-dark rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Genres
      </button>
      <ul class="dropdown-menu bg-dark dropdown-menu-dark">
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'News')}}">News</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre ='Technology')}}">Technology</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Travelling')}}">Travelling</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Celebrities')}}">Celebrities</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Beauty and Lifestyle')}}">Beauty and Lifestyle</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Mental Health')}}">Mental Health</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Food and Beverage')}}">Food and Beverage</a></li>
        <li><a class="dropdown-item" href="{{url_for('genre_page',genre = 'Flowers')}}">Flowers</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="mx-auto row g-md-5">
    <div class="col-md-4 col-sm">
      <div class=" d-flex ">
        <div class="p-2 justify-content-center mx-auto mb-2 text-bg-success rounded-4">
          <img src="/static/icons/added.svg "alt="" width="20" height="20">  Latest articles</div>
      </div>
      {%for lates in latest%}
          <div class="card text-bg-light bg-white rounded-4 shadow">
            <img src="{{url_for('static', filename = lates.image)}}" class="object-fit-fill border rounded col-4 card-img-top " width="100%" height="180" loading="lazy"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title h4 text-center overflow-hidden titlearea m-1 text-capitalize"style="font-size: 20px;"><strong>{{lates.title}}</strong></h5>
              <p class="ps-3 textarea pe-3 card-text fst-normal mb-0 lh-sm overflow-hidden" style="font-size: 16.5px;">{{lates.introduction}}</p>
              <a href="{{ url_for('render_page',id = lates.id)}}" class="stretched-link"></a>
              <p class="text-muted text-end pe-3 mb-1 fw-light"><small>{{lates.time_since_creation}} </small></p>
            </div>
          </div>
          <br>
      {%endfor%}
    </div>
    <div class="col-md-4 col-sm">
      <div class=" d-flex ">
        <div class="p-2 justify-content-center mx-auto mb-2 text-bg-danger rounded-4">
          <img src="/static/icons/fire.svg "alt="" width="20" height="20">  Trending articles</div>
      </div>
      {%for trend in trending%}
          <div class="card text-bg-light bg-white rounded-4 shadow">
            <img src="{{url_for('static', filename = trend.image)}}" class="object-fit-fill border rounded col-4 card-img-top " width="100%" height="180" loading="lazy"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title h4 text-center overflow-hidden titlearea m-1 text-capitalize"style="font-size: 20px;"><strong>{{trend.title}}</strong></h5>
              <p class="ps-3 textarea pe-3 card-text fst-normal mb-0 lh-sm overflow-hidden" style="font-size: 17px;">{{trend.introduction}}</p>
              <a href="{{ url_for('render_page',id = trend.id)}}" class="stretched-link"></a>
              <p class="text-muted text-end pe-3 mb-1 fw-light"><small>{{trend.time_since_creation}} </small></p>
            </div>
          </div>
          <br>
      {%endfor%}
    </div>
    <div class="col-md-4 col-sm ">
      <div class=" d-flex ">
        <div class="p-2 justify-content-center mx-auto mb-2 text-bg-primary rounded-4">
          <img src="/static/icons/hearts.svg "alt="" width="20" height="20">  Popular articles</div>
      </div>
      {%for popula in popular%}
          <div class="card text-bg-light bg-white rounded-4 shadow">
            <img src="{{url_for('static', filename = popula.image)}}" class="object-fit-fill border rounded col-4 card-img-top " width="100%" height="180" loading="lazy"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title h4 text-center overflow-hidden titlearea m-1 text-capitalize"style="font-size: 20px;"><strong>{{popula.title}}</strong></h5>
              <p class="ps-3 textarea pe-3 card-text fst-normal mb-0 lh-sm overflow-hidden" style="font-size: 17px;">{{popula.introduction}}</p>
              <a href="{{ url_for('render_page',id = popula.id)}}" class="stretched-link"></a>
              <p class="text-muted text-end pe-3 mb-1 fw-light"><small>{{popula.time_since_creation}} </small></p>
            </div>
          </div>
          <br>
      {%endfor%}
    </div>
  </div>
  <br>
  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">News</h6>
    {% for new in news%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = new.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{new.title}}</strong>
          <a href="{{ url_for('render_page',id = new.id)}}">Read</a>
        </div>
        <span class="d-block">{{new.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'News')}}">More...</a>
    </small>
  </div>
  <br>
  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Technology</h6>
    {% for tech in Technology%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = tech.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{tech.title}}</strong>
          <a href="{{ url_for('render_page',id = tech.id)}}">Read</a>
        </div>
        <span class="d-block">{{tech.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Technology')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Travelling</h6>
    {% for travel in Travelling%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = travel.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{travel.title}}</strong>
          <a href="{{ url_for('render_page',id = travel.id)}}">Read</a>
        </div>
        <span class="d-block">{{travel.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Travelling')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Celebrities</h6>
    {% for celeb in Celebrities%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = celeb.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{celeb.title}}</strong>
          <a href="{{ url_for('render_page',id = celeb.id)}}">Read</a>
        </div>
        <span class="d-block">{{celeb.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Celebrities')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Beauty and Lifestyle</h6>
    {% for beauty in BeautyandLifestyle%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = beauty.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{beauty.title}}</strong>
          <a href="{{ url_for('render_page',id = beauty.id)}}">Read</a>
        </div>
        <span class="d-block">{{beauty.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Beauty and Lifestyle')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Mental Health</h6>
    {% for mental in MentalHealth%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = mental.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{mental.title}}</strong>
          <a href="{{ url_for('render_page',id = mental.id)}}">Read</a>
        </div>
        <span class="d-block">{{mental.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Mental Health')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Food and Beverage</h6>
    {% for Food in FoodandBeverage%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = Food.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{Food.title}}</strong>
          <a href="{{ url_for('render_page',id = Food.id)}}">Read</a>
        </div>
        <span class="d-block">{{Food.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Food and Beverage')}}">More...</a>
    </small>
  </div>
  <br>

  <div class="my-3 p-3 bg-white bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Flowers</h6>
    {% for flower in Flowers%}
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" src="{{url_for('static', filename = flower.image)}}" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark text-capitalize">{{flower.title}}</strong>
          <a href="{{ url_for('render_page',id = flower.id)}}">Read</a>
        </div>
        <span class="d-block">{{flower.introduction}}</span>
      </div>
    </div>
    {%endfor%}
    <small class="d-block text-end mt-3">
      <a href="{{url_for('genre_page',genre = 'Flowers')}}">More...</a>
    </small>
  </div>
  <br>

</div>
{% endblock%}