{% extends 'base.html' %}
{% block title%}
 Profile
{%endblock%}

{%block content%}
<input type="hidden" name="newcomments" id="newcomments" value="{{newcomments}}">
<input type="hidden" name="comments" id="comments" value="{{comments}}">
<input type="hidden" name="liked" id="liked" value="{{liked}}">
<input type="hidden" name="created" id="created" value="{{created}}">
<div class="container-md">
    <div class="row">
        <div class="col mx-auto" id = "image">
            <img class="bd-placeholder-img rounded-4 flex-shrink-0 mx-auto" width="144" height="96" src="/static/person.svg" role="img" aria-label="Generic placeholder image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Generic placeholder image</title><rect width="100%" height="100%" fill="#868e96"></rect>
        </div>
        <div class="col mx-auto" id = "userinfo">
            <div class="card mx-auto">
                <div class="card-body">
                  <h5 class="card-title text-center">Profile</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Name:     {{user.first_name}} {{user.second_name}}</h6> 
                  <h6 class="card-subtitle mb-2 text-muted">Email:    {{user.creator_email}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Verified: {{user.verified}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Status:   {{user.status}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Reg Date: {{user.confirmed_on.date()}}</h6>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="row" id = "about">
        <div class="card mx-auto" >
            <div class="card-body">
              <h5 class="card-title text-center">About</h5>
              <p class="card-text">{{user.about_yourself}}</p>
          </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center fs-5 fw-bold mx-auto rounded-4" style="width: 60%;">New Comments</div>
                <div class ="newcomment DivToScroll DivWithScroll  mx-auto">

                    <button onclick="loadnewcommentData()" class="load-more-button"><span>&#10093;</span> </button>

                </div>
            <br>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center fs-5 fw-bold mx-auto rounded-4" style="width: 60%;">Comments</div>
            <div class ="comments DivToScroll DivWithScroll  mx-auto">

                <button onclick="loadcommentsData()" class="load-more-button"><span>&#10093;</span> </button>

            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center fs-5 fw-bold mx-auto rounded-4" style="width: 60%;">Liked Articles</div>
            <div class ="likes DivToScroll DivWithScroll  mx-auto">

                <button onclick="loadlikedData()" class="load-more-button"><span>&#10093;</span> </button>

            </div>
            <br>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center fs-5 fw-bold mx-auto rounded-4" style="width: 60%;">Published Articles</div>
            <div class ="published DivToScroll DivWithScroll  mx-auto">

                <button onclick="loadcreatedData()" class="load-more-button"><span>&#10093;</span> </button>

            </div>
            <br>
        </div>
    </div>
    <div class="mb-4"></div>
</div>
<script src="../static/scripts/profileComments.js"></script>
<script src="../static/scripts/profileLIkes.js"></script>
<script src="../static/scripts/profilePublished.js"></script>
<script src="../static/scripts/profileNewcomments.js"></script>
<script>
    loadcommentsInitialItems();
    loadlikedInitialItems();
    loadcreatedInitialItems();
    loadnewcommentInitialItems();
</script>
{%endblock%}