{% extends 'base.html' %} 

{% block title %}
Wavesinall: lets debate.{{content.id}}
{% endblock%}

{% block content %}
<input type="hidden" name="contentx" id="content_idx" value="{{content.content}}">
<input type="hidden" name="comment" id="comment" value="{{comment}}">
<div class=" container-fluid "> 
    <div id="editorjs"></div>
    <div class="container ">
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center text-primary-emphasis mx-auto fs-5 rounded-4" style="width: 60%;">Comments</div>
            <div class ="DivToScroll DivWithScroll  mx-auto">

                <button onclick="loadcommentData()" class="load-more-button"><span>&#10093;</span> </button>

            </div>
            <br>
        </div>
        <div class="col-md-6 mx-auto">
            <form method="POST" autocomplete="off" class="form-register" style="color:rgb(8, 8, 8)">
                {{ form.hidden_tag() }}
                <div class="form-floating mx-auto container-sm text-center text-mute ps-0 pe-0" >
                    
                    {% if current_user.is_authenticated and (current_user.is_subscriber or current_user.is_author) %}
                        {{ form.comment(class="form-control", placeholder="Leave a comment here", id="floatingTextarea") }}
                        <label for="floatingTextarea">Comments</label>
                        <input id="article_id" name="article_id" type="hidden" value="{{content.id}}">
                        <br>
                        <div class=" position-relative text-center me-auto row">
                            <div class="col-4 position-absolute top-50 start-0 translate-middle-y">
                                {% if likes.likerr == current_user or likes.alikerr == current_user %}
                                    <a href = "/like/unlike/{{likes.like_id}}"type="button" class=" btn btn-sm btn-outline-primary">
                                        <img src="/static/icons/liked.svg" alt="" width="16" height="16">{{content.likes}}
                                    </a>
                                {% else %}
                                    <a href = "/like/like/{{content.id}}"type="button" class=" btn btn-sm btn-outline-primary">
                                        <img src="/static/icons/like.svg" alt="" width="16" height="16">{{content.likes}}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-4 position-absolute top-50 start-50 translate-middle">
                                {{ form.post(class="btn btn-lg btn-sm btn-block btn-primary ")}}
                            </div>
                            <div class="col-4 position-absolute top-50 end-0 translate-middle-y">
                                <button type="button" class="btn btn-sm btn-outline-primary" disabled>
                                    <img src="/static/icons/view.svg" alt="" width="16" height="16"><span class="badge rounded-pill text-bg-secondary">{{content.views}}</span>
                                </button>
                            </div>
                        </div>

                    
                        
                    {% else %}
                    <div class="p-1 mb-2 bg-secondary-subtle text-muted text-center fs-6 fw-light mx-auto rounded-4" style="width: 60%;">Login to Comment</div>
                    {% endif %}
                    
                </div>
            </form>
        </div>
        <div class="col"></div>
        
        <br>
        
    </div>
</div>
<script src="../static/render.js"></script>
<script src="../static/scripts/comments.js"></script>
<script>
    loadcommentInitialItems();
</script>

{% endblock%}
<div class="grid text-center">
    <div class="g-col-4">.g-col-4</div>
    <div class="g-col-4">.g-col-4</div>
    <div class="g-col-4">.g-col-4</div>
</div>