{% extends 'base.html' %} 

{% block title %}
Wavesinall: lets debate.{{content.id}}
{% endblock%}

{% block content %}
<input type="hidden" name="contentx" id="content_idx" value="{{content.content}}">
<input type="hidden" name="comment" id="comment" value="{{comment}}">
<div class=" container-fluid "> 
    <div id="editorjs"></div>
    <div class="container ">
        <div class="col-md-6 mx-auto">
            <div class="p-1 mb-2 bg-info-subtle text-center fs-5 fw-bold rounded-4">Comments</div>
            <div class ="DivToScroll DivWithScroll  mx-auto">

                <button onclick="loadcommentData()" class="load-more-button"><span>&#10093;</span> </button>

            </div>
            <br>
        </div>
        <div class="col-md-6 mx-auto">
            <form method="POST" autocomplete="off" class="form-register" style="color:rgb(8, 8, 8)">
                {{ form.hidden_tag() }}
                <div class="form-floating mx-auto container-sm text-center text-mute ps-0 pe-0" >
                    {{ form.comment(class="form-control", placeholder="Leave a comment here", id="floatingTextarea") }}
                    <label for="floatingTextarea">Comments</label>
                    <input id="article_id" name="article_id" type="hidden" value="{{content.id}}">
                    <br>
                    {{ form.post(class="btn btn-lg btn-block btn-primary position-absolute start-50 translate-middle-x ")}}
                    
                </div>
            </form>
        </div>
        <div class="col"></div>
        
        <br>
        
    </div>
</div>
<script src="../static/render.js"></script>
<script src="../static/scripts/comments.js"></script>
<script>
    loadcommentInitialItems();
</script>

{% endblock%}
