
<div style="height:auto; width:500px; font-weight: 400;font-family:'Times New Roman', Times, serif ;margin: auto;">
    <h1  style="margin-bottom: 8px;text-align: center;">Wavesinall</h1>
    <h3 class ="text-center" style="font-size: 16px;margin-bottom: 16px;text-align: center;">Password Change Notification</h3>
    <p style="margin-bottom: 16px;font-size: 15px;">Click the button below to continue.</p>
    <button style="margin: auto;background:rgb(11, 126, 11);color:white;margin-bottom: 16px;padding:.4rem;border-radius: 8px;">
        <a href="{{reset_url}}"style="text-decoration: none; color: inherit; ">Change Password</a>
    </button>
    <p style="margin-bottom: 8px; font-size: 15px;">This link expires 24 hours from the time it was sent. 
        This link directs you to the Account Management website, 
        where you can enter a new password.
    </p>
    <p style="margin-bottom: 16px;font-size: 15px;">This email message has been delivered from a send-only address. 
        Please do not reply to this message. For more information about your account, 
        please visit the links below.
    </p>
</div>