{% extends 'base.html' %} 

{% block title %}
Wavesinall: Messages.
{% endblock%}

{% block content %}
    
    <input type="hidden" name="liked" id="liked" value="{{liked}}">
    <input type="hidden" name="new" id="created" value="{{new}}">
    <input type="hidden" name="new" id="createdi" value="{{read}}">
    

    <div class="container-fluid mb-5">
        <br>
        <div class="row ">
            <div class="col">
                <div class="p-1 mb-2 bg-primary-subtle text-center fs-5 fw-bold rounded-4">Liked articles</div>
                <div class="likes">
                    <!-- content displaye from the javascript file -->
                    
                    <button onclick="loadlikedData()" class="load-more-button"><span>&#10093;</span> </button>
                </div>
            </div>
            <div class="col">
                <div class="p-1 mb-2 bg-primary-subtle text-center fs-5 fw-bold rounded-4">Read articles</div>
                <div class="newcomment">
                    <!-- content displaye from the javascript file -->
                    
                    <button onclick="loadnew_messagesData()" class="load-more-button"><span>&#10093;</span> </button>
                </div>
            </div>
            <div class="col">
                <div class="p-1 mb-2 bg-success-subtle text-center fs-5 fw-bold rounded-4">New Articles</div>
                <div class="published">
                    <!-- content displaye from the javascript file -->
                    
                    <button onclick="loadcreatedData()" class="load-more-button"><span>&#10093;</span> </button>
                </div>
            </div>

        </div>
        
        
    </div>
    <script src="../static/scripts/profileLIkes.js"></script>
    <script src="../static/scripts/profilePublished.js"></script>
    <script src="../static/scripts/profileNewcomments.js"></script>
    <script>
        loadlikedInitialItems();
        loadcreatedInitialItems();
        
    </script>
{% endblock%}
<!--  -->