{% extends 'base.html' %} 

{% block title %}
Subscriber Registration
{% endblock%}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" autocomplete="off"class="form-register registration " style="color:rgb(8, 8, 8)">
            {{ form.hidden_tag() }}
            <br>
            <img src="{{url_for('static', filename = 'logo.svg')}}" width="80" height="80" alt="">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Subscriber Account.
            </h1>
            <div class="form-floating mb-3">
                {{ form.user_name(class="form-control", placeholder="User Name") }}
                <label for="floatingInput">Your Name</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.user_email(class="form-control", placeholder="Email Address") }}
                <label for="floatingInput">Email Address</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.password1(class="form-control", placeholder="Password") }}
                <label for="floatingInput">Password</label>
            </div>

            <div class="form-floating mb-2">
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                <label for="floatingInput">Confirm Password</label>
            </div>
            
            <input type="checkbox" class=" mb-4 me-auto"onclick="myFunction()"> Show Password
            
            {{ form.submit(class="btn btn-lg mb-4 w-100 btn-block btn-primary")}}
            
            

            <div class="checkbox mb-2">
                <h6>Already have an account?</h6>
                <a href="{{url_for('login_page')}}" class="btn btn-sm btn-secondary">Login</a>
            </div>

        </form>
    </div>
    
</body>
<script src="../static/scripts/passwordtoggler.js"></script>
{% endblock%}


  