.bitn{
    text-align: center;
    align-items:center;
    justify-content: center;
    display: flex;
    background:rgb(119, 206, 119);
    padding:.4rem;
    width:20%;
    margin:auto;
    border-radius: 8px;
    color:white;
    cursor: pointer;
}
.bitn:hover{
    background:rgb(17, 170, 17);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100%;
	color: #555;
}

.book{
	max-width:100%;
	
	padding: 10px;
	background-size: auto;
	background-color: #ffffff;
	color: #000000;
}



.book .title{
	font-size: 22px;
	font-weight: bold;
}
.book.title:hover{
	--_p: 100%;
	--_s: .3s;
}
.book .about{
	font-size: 20px;
	margin-top: 7px;
}
.book .info{
	margin-top: 20px;
}


.load-more-button{
	display: block;
	width: 60px;
	height: 60px;
	font-size: 16px;
	margin: 50px auto;
	border: thin solid #e4e4e4;
	border-radius: 50%;
	line-height: 60px;
	cursor: pointer;
	transition: box-shadow .2s;
	background-color: #fff;
}
.load-more-button span{
	display: block;
	transform: rotate(90deg);
	font-size: 22px;
	color: #999;
}
.load-more-button:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.load-more-button:active{
	background-color: #555;
	box-shadow: none;
}
  
  

.DivToScroll{   
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.DivWithScroll{
    height:200px;
	width:100%;
    overflow:scroll;
    overflow-x:hidden;
}
.textarea{
	height:60px;
	width:100%;
}
.titlearea{
	height:25px;
	width:100%;
}
.rowheader{
	height:auto;
	width:650px;
}

.signin{
	align-items: center;
	height:75vh;
	width: 330px;
}
.
.forgotpass{
	
	display: block;
	width: 330px;
	height: 75px;
	//font-size: 16px;
	margin: 50px auto;
	border: thin solid #e4e4e4;
	border-radius: 5%;
	line-height: 60px;
	cursor: pointer;
	transition: box-shadow .2s;
	background-color: #fff;

}